/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * iye implementation : © Mus <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * iye.css
 *
 * iye stylesheet
 *
 */

/**
 *-------------------
 * Player Panel Boards
 *-------------------
 */
.iye_player_board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px 20px 10px;
}

.iye_player_board > .player_board_token {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.player_board_token[data-present="true"] {
  opacity: 1;
}

.player_board_token[data-present="false"] {
  opacity: 0.2;
}

.player_board_token[data-token-type="owl"] {
  background-position-x: 0px;
}

.player_board_token[data-token-type="water"] {
  background-position-x: -40px;
}

.player_board_token[data-token-type="tree"] {
  background-position-x: -80px;
}

.player_board_token[data-token-type="horse"] {
  background-position-x: -120px;
}

.player_board_token[data-token-type="sun"] {
  background-position-x: -160px;
}

.player_board_token > .amount {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.player_board_token > .amount[data-present="true"] {
  opacity: 1;
}

.player_board_token > .amount[data-present="false"] {
  opacity: 0;
}

/**
 *-------------------
 * Play Area
 *-------------------
 */

.play_area_wrapper {
  display: flex;
  margin: 0 auto;
  height: 800px;
  width: 1200px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#iye_board {
  position: relative;
  width: 720px;
  height: 720px;
  background-image: url("img/gameboard.jpg");
  background-size: auto 100%;
  background-position-x: -175px;
}

.iye_square {
  position: absolute;
  width: 130px;
  height: 130px;
}

.possible_coordinate {
  z-index: 2;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.selected_possible_coordinate {
  border: 10px solid rgba(255, 0, 0, 1);
}

.token {
  position: absolute;
  width: 110px;
  height: 110px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.kam {
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: 5;
  background-image: url("img/kam.png");
  background-size: auto 100%;
  background-position-x: -288px;
}

.token[data-token-type="owl"] {
  background-position-x: 0px;
}

.token[data-token-type="water"] {
  background-position-x: -110px;
}

.token[data-token-type="tree"] {
  background-position-x: -220px;
}

.token[data-token-type="horse"] {
  background-position-x: -330px;
}

.token[data-token-type="sun"] {
  background-position-x: -440px;
}
