/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * iye implementation : © Mus <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * iye.css
 *
 * iye stylesheet
 *
 */

@import url(modules/bga-help.css);

/**
 *-------------------
 * Player Panel Boards
 *-------------------
 */
.iye_player_board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px 20px 10px;
}

.iye_player_board > .player_board_token {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.player_board_token[data-present="true"] {
  opacity: 1;
}

.player_board_token[data-present="false"] {
  opacity: 0.2;
}

.player_board_token[data-token-type="owl"] {
  background-position-x: 0px;
}

.player_board_token[data-token-type="water"] {
  background-position-x: -40px;
}

.player_board_token[data-token-type="tree"] {
  background-position-x: -80px;
}

.player_board_token[data-token-type="horse"] {
  background-position-x: -120px;
}

.player_board_token[data-token-type="sun"] {
  background-position-x: -160px;
}

.player_board_token > .amount {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.player_board_token > .amount[data-present="true"] {
  opacity: 1;
}

.player_board_token > .amount[data-present="false"] {
  opacity: 0;
}

/**
 *-------------------
 * Game Information (Below Player Panels)
 *-------------------
 */
.player_panel_game_information {
  margin-top: 5px;
  background-color: #ebd5bd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.player_panel_game_information > .title {
  font-weight: 700;
}

.player_panel_game_information > .description {
  font-weight: 400;
}

.player_panel_game_information > .token_breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.player_panel_game_information > .token_breakdown > .player_board_token {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

/**
 *-------------------
 * Play Area
 *-------------------
 */

.play_area_wrapper {
  max-height: 800px;
  width: 100%;
}

#iye_board {
  position: relative;
  margin: 20px auto;
  width: 720px;
  height: 720px;
  background-image: url("img/gameboard.jpg");
  background-size: auto 100%;
  background-position-x: -175px;
}

.iye_square {
  position: absolute;
  width: 130px;
  height: 130px;
}

.possible_coordinate {
  z-index: 2;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.non_basic_possible_coordinate {
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.6);
}

.selected_possible_coordinate {
  border: 10px solid rgba(255, 0, 0, 1);
}

.token {
  position: absolute;
  width: 110px;
  height: 110px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.kam {
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: 5;
  background-image: url("img/kam.png");
  background-size: auto 100%;
  background-position-x: -288px;
}

.token[data-token-type="owl"] {
  background-position-x: 0px;
}

.token[data-token-type="water"] {
  background-position-x: -110px;
}

.token[data-token-type="tree"] {
  background-position-x: -220px;
}

.token[data-token-type="horse"] {
  background-position-x: -330px;
}

.token[data-token-type="sun"] {
  background-position-x: -440px;
}

.action-token {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0px 8px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.action-token[data-token-type="owl"] {
  background-position-x: 0px;
}

.action-token[data-token-type="water"] {
  background-position-x: -40px;
}

.action-token[data-token-type="tree"] {
  background-position-x: -80px;
}

.action-token[data-token-type="horse"] {
  background-position-x: -120px;
}

.action-token[data-token-type="sun"] {
  background-position-x: -160px;
}

/**
 *-------------------
 * Game Help
 *-------------------
 */

.game-help-wrapper {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-help-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}

.game-help-section::after {
  content: "";
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-help-section:last-child::after {
  display: none;
}

.game-help-section > .title {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.game-help-section > .description {
  text-align: justify;
  line-height: 1.6;
}

.token-distribution-table {
  border-collapse: collapse;
  text-indent: initial;
}

.token-distribution-table th,
.token-distribution-table td {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  text-align: center;
}

.token-distribution-table th:first-child {
  border-top: none;
  border-left: none;
}

.token-distribution-table .help-token {
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.help-token[data-token-type="owl"] {
  background-position-x: 0px;
}

.help-token[data-token-type="water"] {
  background-position-x: -40px;
}

.help-token[data-token-type="tree"] {
  background-position-x: -80px;
}

.help-token[data-token-type="horse"] {
  background-position-x: -120px;
}

.help-token[data-token-type="sun"] {
  background-position-x: -160px;
}

.token-distribution-table .row-title {
  font-weight: 700;
}
