/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * iye implementation : © Mus <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * iye.css
 *
 * iye stylesheet
 *
 */

/**
 *-------------------
 * Player Panel Boards
 *-------------------
 */
.iye_player_board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px 20px 10px;
}

.iye_player_board > .player_board_token {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.player_board_token[data-present="true"] {
  opacity: 1;
}

.player_board_token[data-present="false"] {
  opacity: 0.2;
}

.player_board_token[data-token-type="owl"] {
  background-position-x: 0px;
}

.player_board_token[data-token-type="water"] {
  background-position-x: -40px;
}

.player_board_token[data-token-type="tree"] {
  background-position-x: -80px;
}

.player_board_token[data-token-type="horse"] {
  background-position-x: -120px;
}

.player_board_token[data-token-type="sun"] {
  background-position-x: -160px;
}

.player_board_token > .amount {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.player_board_token > .amount[data-present="true"] {
  opacity: 1;
}

.player_board_token > .amount[data-present="false"] {
  opacity: 0;
}

/**
 *-------------------
 * Game Information (Below Player Panels)
 *-------------------
 */
.player_panel_game_information {
  margin: 5px auto;
  background-color: #ebd5bd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.player_panel_game_information > .title {
  font-weight: 700;
}

.player_panel_game_information > .description {
  font-weight: 400;
}

.player_panel_game_information > .token_breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.player_panel_game_information > .token_breakdown > .game_information_token {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game_information_token > .info_token {
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.game_information_token > .info_token[data-present="true"] {
  opacity: 1;
}

.game_information_token > .info_token[data-present="false"] {
  opacity: 0.2;
}

.game_information_token > .info_token[data-token-type="owl"] {
  background-position-x: 0px;
}

.game_information_token > .info_token[data-token-type="water"] {
  background-position-x: -40px;
}

.game_information_token > .info_token[data-token-type="tree"] {
  background-position-x: -80px;
}

.game_information_token > .info_token[data-token-type="horse"] {
  background-position-x: -120px;
}

.game_information_token > .info_token[data-token-type="sun"] {
  background-position-x: -160px;
}

.game_information_token > .amount {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.game_information_token > .points {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  color: gray;
}

/**
 *-------------------
 * Play Area
 *-------------------
 */

.play_area_wrapper {
  max-height: 800px;
  width: 100%;
}

#iye_board {
  position: relative;
  margin: 20px auto;
  width: 720px;
  height: 720px;
  background-image: url("img/gameboard.jpg");
  background-size: auto 100%;
  background-position-x: -175px;
}

.iye_square {
  position: absolute;
  width: 130px;
  height: 130px;
}

.possible_coordinate {
  z-index: 2;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.non_basic_possible_coordinate {
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.6);
}

.selected_possible_coordinate {
  border: 10px solid rgba(255, 0, 0, 1);
}

.token {
  position: absolute;
  width: 110px;
  height: 110px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.kam {
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: 5;
  background-image: url("img/kam.png");
  background-size: auto 100%;
  background-position-x: -288px;
}

.token[data-token-type="owl"] {
  background-position-x: 0px;
}

.token[data-token-type="water"] {
  background-position-x: -110px;
}

.token[data-token-type="tree"] {
  background-position-x: -220px;
}

.token[data-token-type="horse"] {
  background-position-x: -330px;
}

.token[data-token-type="sun"] {
  background-position-x: -440px;
}

.action-token {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0px 8px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.action-token[data-token-type="owl"] {
  background-position-x: 0px;
}

.action-token[data-token-type="water"] {
  background-position-x: -40px;
}

.action-token[data-token-type="tree"] {
  background-position-x: -80px;
}

.action-token[data-token-type="horse"] {
  background-position-x: -120px;
}

.action-token[data-token-type="sun"] {
  background-position-x: -160px;
}

/**
 *-------------------
 * Game Help
 *-------------------
 */

.game-help-wrapper {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-help-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}

.game-help-section::after {
  content: "";
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-help-section:last-child::after {
  display: none;
}

.game-help-section > .title {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.game-help-section > .description {
  text-align: justify;
  line-height: 1.6;
}

.token-distribution-table {
  border-collapse: collapse;
  text-indent: initial;
}

.token-distribution-table th,
.token-distribution-table td {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  text-align: center;
}

.token-distribution-table th:first-child {
  border-top: none;
  border-left: none;
}

.token-distribution-table .help-token {
  width: 40px;
  height: 40px;
  background-image: url("img/tokens.jpg");
  background-size: auto 100%;
}

.help-token[data-token-type="owl"] {
  background-position-x: 0px;
}

.help-token[data-token-type="water"] {
  background-position-x: -40px;
}

.help-token[data-token-type="tree"] {
  background-position-x: -80px;
}

.help-token[data-token-type="horse"] {
  background-position-x: -120px;
}

.help-token[data-token-type="sun"] {
  background-position-x: -160px;
}

.token-distribution-table .row-title {
  font-weight: 700;
}

#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0 0 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;

  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;

  width: 50px;
  height: 50px;
  border-radius: 25px;

  .bga-help_folded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 1;
    width: 50px;
    height: 50px;
  }

  .bga-help_unfolded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
  }

  &[data-folded="false"] {
    width: var(--expanded-width);
    height: var(--expanded-height);
    border-radius: var(--expanded-radius);

    .bga-help_folded-content {
      opacity: 0;
    }
    .bga-help_unfolded-content {
      opacity: 1;
    }
  }
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    //display: none;
    bottom: 5px;
  }
}

#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
  //top: 80px !important;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
